:root {
  --font-heading: 'Cinzel', serif;
  --font-body: 'Raleway', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  background-color: #fff7ec;
  color: #5c3a21;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
